extends ../layout

block content

  section.todo
    h1 Mes Todos

    div#todo-list
      ol
        each todo in listTodosNotCompleted
          li
            span= todo.task
            span.assignedBy de #{todo.assignedBy} le #{moment(todo.createdAt).format('MM.DD.YYYY')}
            form(action="/todos/"+todo.todoId+"?_method=delete", method="POST")
              button(type="submit").todo-actions.todo-delete
            form(action="/todos/"+todo.todoId+"?_method=put", method="POST")
              button(type="submit").todo-actions.todo-done 

        each todoComplete in listTodosCompleted
          li
            span(style="text-decoration: line-through")= todoComplete.task
            span.assignedBy de #{todoComplete.assignedBy} le #{moment(todoComplete.createdAt).format('MM.DD.YYYY')}
            form(action="/todos/"+todoComplete.todoId+"?_method=delete", method="POST")
              button(type="submit").todo-actions.todo-delete

        li#login-form
          form(action="/todos", method="POST")
            input(type='text' name='task' placeholder="Une todo à ajouter ?" required)
            input(type='text' name='taskAssignedTo' placeholder="A qui assigner la todo ?" required)
            button(type='submit') Ajouter
        if creationTaskFailed
          div(style='color:red') Veuillez remplir tous les champs !
